<div class= "nav-wrapper">
  <h4 class = "brand-logo center">Notes</h4>
</div>
<div class="row">
  <div class="container">
    <h3 class= "left-align container">Add a new note:</h3>
  </div>
</div>

<div class="row">
  <div class="container">
      <div class="input-field col s12">
        <input #titleInput id="title" type="text">
        <label for="title">Title</label>
      </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="input-field col s12">
      <textarea #textInput id="textarea" class="materialize-textarea"></textarea>
      <label for="textarea">Content</label>
    </div>
  </div>
</div>

<div class="brand-logo center">
  <button (click)="createnotes(titleInput, textInput)" class="waves-effect waves btn-large">Create Note</button>
</div>
<h3 class="container left-align">Your Notes</h3>

<ul class="collapsible">
  <li *ngFor="let i of notes">
    <div class="collapsible-header">{{i.title}}</div>
    <div class="collapsible-body"><span>{{i.text}}</span></div>
  </li>
</ul>
